*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 50px;
}

.container h1{
    text-align: center;
    font-weight: 700;
}
.container .add{
    float: right;
    margin-bottom: 10px;
}

.container table{
    margin-top: 20px;
    text-align: center;
}
table thead tr th , table tbody tr td{
    text-align: center !important;
}

table .number{
    width: 10%;
}

table .title{
    width: 20%;
}

table .task{
    width: 60%;
}

table .action{
    width: 10%;
}

.modal-body .note-submit{
    float: right;
}